<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/e7f035ab-5860-40c0-8a00-69557c565b95/resourceGroups/VisionTrainer/providers/Microsoft.Web/sites/visiontrainer</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://visiontrainer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>visiontrainer.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>visiontrainer</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$visiontrainer</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>